body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Dune Rise', sans-serif;
}

.game-part {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-image: url(images/home.jpg);
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 630px;
  height: 480px;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  /* background-image: url(https://t4.ftcdn.net/jpg/06/77/33/63/360_F_677336383_CT107OBD3o18HfON2i0YAdVVb29XiDdx.jpg);
  background-size: cover; */
}

.title {
  color: #daa520;
  background-color: #2f2f2f;
}

.fa-bug {
  font-size: 30px;
  color: white;
}
.fa-sack-dollar {
  font-size: 25px;
  color: green;
}
.fa-handcuffs {
  font-size: 25px;
  color: black;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over {
  font-size: 35px;
  display: none;
  flex-direction: column;
  align-self: center;
  position: absolute;
  width: 630px;
  height: 480px;
  background-color: #31313199;
  color: white;
}
.level {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: absolute;
  width: 630px;
  height: 480px;
  background-color: #291f14;
  color: #ffe3a5;
}
.level div {
  display: flex;
  width: 630px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.level div button {
  color: #ffe3a5;
  font-size: 25px;
  padding: 10px 5px;
  border: none;
  background-color: #ffffff00;
  border: 1px solid rgba(0, 0, 0, 0);
}
.level div button:hover {
  border: 1px solid #ffe3a5;
  border-radius: 10px;
}
.restart-btn {
  font-size: 20px;
  padding: 15px 10px;
  border-radius: 10px;
}
.restart-btn:hover {
  cursor: pointer;
}

.right-side,
.left-side {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.best-score-label,
.score-label,
.time-label {
  width: 100%;
  color: #deb887;
  background-color: #313131;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  text-align: center;
  font-size: 25px;
  padding: 20px 0px;
  border-radius: 10px;
}

button {
  font-family: 'Dune Rise', sans-serif;
}

audio {
  display: none;
}

.cowboy {
  display: none;
}
.double-meter {
  justify-self: flex-end;
  background-color: gold;
  width: 0px;
  height: 3px;
  position: absolute;
}
