body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Play', sans-serif;
}

.game-part {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-image: url(images/download.jpeg);
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 630px;
  height: 480px;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  /* background-image: url(https://t4.ftcdn.net/jpg/06/77/33/63/360_F_677336383_CT107OBD3o18HfON2i0YAdVVb29XiDdx.jpg);
  background-size: cover; */
}

.title {
  color: #daa520;
  background-color: #2f2f2f;
}

.fa-apple-whole {
  font-size: 34px;
  color: white;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over {
  font-size: 100px;
  display: none;
  flex-direction: column;
  align-self: center;
  position: absolute;
  width: 630px;
  height: 480px;
  background-color: #31313199;
  color: white;
}
.level {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: absolute;
  width: 630px;
  height: 480px;
  background-color: #291f14;
  color: #ffe3a5;
}
.level div {
  display: flex;
  width: 630px;
  justify-content: space-around;
}
.level div button {
  color: #ffe3a5;
  font-size: 25px;
  padding: 10px 5px;
  border: none;
  background-color: #ffffff00;
  border: 1px solid rgba(0, 0, 0, 0);
}
.level div button:hover {
  border: 1px solid #ffe3a5;
  border-radius: 10px;
}
.restart-btn {
  font-size: 30px;
  border-radius: 10px;
}

.right-side,
.left-side {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.best-score-label,
.score-label,
.time-label {
  width: 100%;
  color: #deb887;
  background-color: #313131;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  text-align: center;
  font-size: 35px;
  padding: 15px 0px;
}

button {
  font-family: 'Play', sans-serif;
}
